.input{
    margin-top: 70px;
    border-radius: 2rem;
    margin-bottom: 30px;
}
input{
    justify-content: center;
}
.card{
    border-radius: 5rem;
    margin: 10px;
    min-width: 550px;
}
.input button{
    background-color: rgb(34, 31, 31);
    color: white;
    border: none;
}
.card button{
    color: red;
    border: none;
}